.App {
  text-align: left;
  font-family: 'Inter',Helvetica,sans-serif;
}

.header {
  background-color: #f55a5a;
  padding: .8em;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 1em;
  color: white;
  font-weight: 500;
  letter-spacing: -.08em;
}
.header svg {
  width: 1.5em;
  fill: #FFFFFF;
  margin-right: .5em;
}

.trip-block {
  display: grid;
  grid-template-columns: 10em auto 1fr;
  grid-template-rows: repeat(4, minmax(min-content, auto));
  grid-template-areas: 
    
    "pic  location     maplink"
    "pic  title        title"
    "pic  date         date"
    "pic  description  description"
  ;
  border-bottom: 1px solid #bebcc2;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.trip-block img {
  height: 10em;
  width: 7.8em;
  grid-area: pic;
  margin: 1em 1em 1em 0;
  border-radius: .3125em;
  object-fit: cover;
}

.trip-block svg {
  fill: #F55A5A;
  height: .625rem;
  margin-right: .5em;
}

.location {
  grid-area: location;
  font-size: .625em;
  text-transform: uppercase;
  letter-spacing: .25em;
  margin-right:.5em;
  align-self: flex-end;
}

.view-map {
  grid-area: maplink;
  font-size: .625em;
  align-self: flex-end;

}

a {
  color: #918e9b;
}

h2 {
  grid-area: title;
  font-size: 1.56em;
  margin: .25em 0;
}

.date {
  grid-area: date;
  font-weight: 700;
  font-size: .625em;
  margin: .1em 0;
  align-self: baseline;
}

.description {
  grid-area: description;
  font-size: .625em;
  align-self: flex-start;
  margin-top: 0;
}